<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="ServiceBusConnectionString" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" connectionString="__ServiceBusConnectionString__" />
    <add name="LoggingConnectionString" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" connectionString="__LoggingConnectionString__" />
    <add name="StorageConnectionString" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" connectionString="__StorageConnectionString__" />
  </connectionStrings>

  <appSettings>
    <add key="PaymentsDueServiceEndpointName" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" value="__PaymentsDueService_EndpointName__"/>
    <add key="FailedMessagesQueue" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" value="__PaymentsDueService_FailedMessagesQueue__"/>
    <add key="Environment" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" value="__Environment__"/>
  </appSettings>

</configuration>