<?xml version="1.0" encoding="utf-8" ?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/2011/01/fabric">
  <!-- Add your custom configuration sections and parameters here -->
  <!--
  <Section Name="MyConfigSection">
    <Parameter Name="MyParameter" Value="Value1" />
  </Section>
  -->

  <Section Name="ConnectionStringsSection">
    <Parameter Name="LoggingConnectionString" Value=""/>
    <Parameter Name="ServiceBusConnectionString" Value=""/>
    <Parameter Name="DcStorageConnectionString" Value=""/>
    <Parameter Name="PaymentsConnectionString" Value=""/>
    <Parameter Name="StorageConnectionString" Value=""/>
  </Section>

  <Section Name="Settings">
    
    <Parameter Name="LogLevel" Value="" />
    <Parameter Name="ApplicationInsightsInstrumentationKey" Value="" />
    <Parameter Name="EndpointName" Value="" />
    <Parameter Name="FailedMessagesQueue" Value="" />
    <Parameter Name="DasNServiceBusLicenseKey" Value="" />
    <Parameter Name="EasApiEndpoint" Value="" />
    <Parameter Name="EasApiUsername" Value=""/>
    <Parameter Name="EasApiPassword" Value=""/>
    <Parameter Name="EasCertificateThumbprint" Value=""/>
    <Parameter Name="EasPageSize" Value=""/>

    <Parameter Name="EasApiClientId" Value="" />
    <Parameter Name="EasApiTenantId" Value="" />
    <Parameter Name="EasApiScope" Value="" />
  </Section>

</Settings>
