<?xml version="1.0" encoding="utf-8"?>
<Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/2011/01/fabric">
  <Section Name="ConnectionStringsSection">
    <Parameter Name="StorageConnectionString" Value="" />
    <Parameter Name="LoggingConnectionString" Value="" />
    <Parameter Name="ServiceBusConnectionString" Value="" />
    <Parameter Name="MonitoringServiceBusConnectionString" Value="" />
    <Parameter Name="PaymentsConnectionString" Value="" />
  </Section>
  <Section Name="Settings">
    <Parameter Name="EndpointName" Value="" />
    <Parameter Name="FailedMessagesQueue" Value="" />
    <Parameter Name="LogLevel" Value="" />
    <Parameter Name="ProcessMessageSequentially" Value="" />
    <Parameter Name="ApplicationInsightsInstrumentationKey" Value="" />
  </Section>
  <Section Name="LevyFundedServiceActorServiceReplicatorConfig">
    <Parameter Name="ReplicatorEndpoint" Value="LevyFundedServiceActorServiceReplicatorEndpoint" />
    <Parameter Name="BatchAcknowledgementInterval" Value="0.005" />
  </Section>
  <Section Name="LevyFundedServiceActorServiceReplicatorSecurityConfig">
    <Parameter Name="CredentialType" Value="None" />
  </Section>
</Settings>