<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<!-- In case configuration is not the root element, replace it with root element in source configuration file -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="ServiceBusConnectionString" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" connectionString="__ServiceBusConnectionString__" />
    <add name="LoggingConnectionString" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" connectionString="__LoggingConnectionString__" />
    <add name="StorageConnectionString" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" connectionString="__StorageConnectionString__" />
  </connectionStrings>

  <appSettings>
    <add key="EndpointName" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" value="__NonLevyFundedService_EndpointName__"/>
    <add key="FailedMessagesQueue" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" value="__NonLevyFundedService_FailedMessagesQueue__"/>
    <add key="Environment" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" value="__Environment__"/>
  </appSettings>
  
</configuration>