<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
 <connectionStrings>
   <add name="StorageConnectionString" connectionString="UseDevelopmentStorage=true" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
   <add name="ServiceBusConnectionString" connectionString="" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
 </connectionStrings>
 <appSettings>
   <add key="ServiceBusQueue" value=""/>
 </appSettings>
</configuration>