<?xml version="1.0" encoding="utf-8"?>
<Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/2011/01/fabric">
  <Section Name="ConnectionStringsSection">
    <Parameter Name="LoggingConnectionString" Value="" />
    <Parameter Name="PaymentsConnectionString" Value="" />
  </Section>
  <Section Name="Settings">
    <Parameter Name="LogLevel" Value="" />
    <Parameter Name="ConsoleLogLevel" Value="" />
    <Parameter Name="ApplicationInsightsInstrumentationKey" Value="" />
    <Parameter Name="DasNServiceBusLicenseKey" Value="" />
  </Section>
  <Section Name="RemovedLearnerServiceActorServiceReplicatorConfig">
    <Parameter Name="ReplicatorEndpoint" Value="RemovedLearnerServiceActorServiceReplicatorEndpoint" />
    <Parameter Name="BatchAcknowledgementInterval" Value="0.005" />
  </Section>
  <Section Name="RemovedLearnerServiceActorServiceReplicatorSecurityConfig">
    <Parameter Name="CredentialType" Value="None" />
  </Section>
  <!-- The content will be generated during build -->
</Settings>