<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="ServiceBusConnectionString" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" connectionString="__ServiceBusConnectionString__" />
    <add name="StorageConnectionString" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" connectionString="__StorageConnectionString__" />
    <add name="PaymentsConnectionString" connectionString="__PaymentsConnectionString__" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>


  <appSettings>
    <add key="ProviderPaymentsServiceEndpointName" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" value="__ProviderPaymentsService_EndpointName__"/>
    <add key="Environment" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" value="__Environment__"/>
  </appSettings>


</configuration>