<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="StorageConnectionString" connectionString="UseDevelopmentStorage=true" />
    <add name="ServiceBusConnectionString" connectionString="" />
    <add name="DASServiceBusConnectionString" connectionString="" />-->
    <add name="PaymentsConnectionString" connectionString="" />
    <!--<add name="LoggingConnectionString" connectionString="" />
    <add name="DCServiceBusConnectionString" connectionString="" />-->
    <add name="DcStorageConnectionString" connectionString="" />
    <!--<add name="MonitoringServiceBusConnectionString" connectionString="" />-->
  </connectionStrings>

  <!--<appSettings>
    <add key="EndpointName" value="sfa-das-payments-acceptancetests-e2e" />
    <add key="FailedMessageQueue" value="sfa-das-payments-acceptancetests-e2e-errors" />
    <add key="PaymentsDueServiceEndpointName" value="sfa-das-payments-paymentsdue" />
    <add key="Environment" value="DEVELOPMENT" />
    <add key="TimeToWait" value="00:01:00" />
    <add key="TimeToWaitForUnexpected" value="00:00:01" />
    <add key="TimeToPause" value="00:00:02" />
    <add key="AuditQueueName" value="" />
    <add key="SubscriptionName" value="" />
    <add key="JobStatusQueueName" value="" />
    <add key="TopicName" value="" />
    <add key="DcBlobStorageContainer" value="" />
    <add key="ApplicationInsightsInstrumentationKey" value="" />
    <add key="apiBaseUrl" value="" />
    <add key="ValidateDcAndDasServices" value="false" />
  </appSettings>-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>