<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DcStorageConnectionString" connectionString="__DcStorageConnectionString__" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="PaymentsConnectionString" connectionString="__PaymentsConnectionString__" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="ILR1819DataStoreConnectionString" connectionString="__ILR1819DataStoreConnectionStringRO__" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="ILR1920DataStoreConnectionString" connectionString="__ILR1920DataStoreConnectionStringRO__" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="apiBaseUrl" value="__DctJobApiBaseUrl__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>