<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="PaymentsConnectionString" connectionString="Data Source=DCOL-ETE-SqlServer-WEU.database.windows.net;Initial Catalog=DASPayments;User ID=DASPaymentRWUser;Password=PO@lKWrQa37UbNATcjmX9EBvfRG5oeyqCxz0tkniw2YM1dZL-gJsDVHp6F48uISh-rw3zNC1onR;Encrypt=True;"  />-->
    <add name="PaymentsConnectionString" connectionString="Data Source=DCOL-ETE-SqlServer-WEU.database.windows.net;Initial Catalog=DASPayments;User ID=DASPaymentRWUser;Password=PO@lKWrQa37UbNATcjmX9EBvfRG5oeyqCxz0tkniw2YM1dZL-gJsDVHp6F48uISh-rw3zNC1onR;Encrypt=True;" />



  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>