<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.8.1" targetFramework="net471" />
  <package id="ESFA.DC.IO.AzureStorage" version="0.1.15-beta0001" targetFramework="net471" />
  <package id="ESFA.DC.IO.Interfaces" version="0.1.11-beta0001" targetFramework="net471" />
  <package id="ESFA.DC.Jobs.Model" version="0.2.9-beta0001" targetFramework="net471" />
  <package id="ESFA.DC.JobStatus.Interface" version="0.2.5-beta0001" targetFramework="net471" />
  <package id="ESFA.DC.Serialization.Interfaces" version="0.1.4-beta0001" targetFramework="net471" />
  <package id="ESFA.DC.Serialization.Json" version="0.1.6-beta0001" targetFramework="net471" />
  <package id="FluentAssertions" version="5.6.0" targetFramework="net471" />
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.SlowCheetah" version="3.1.66" targetFramework="net471" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net471" />
  <package id="NUnit" version="3.12.0" targetFramework="net471" />
  <package id="NUnit3TestAdapter" version="3.11.2" targetFramework="net471" />
  <package id="Polly" version="6.1.2" targetFramework="net471" />
  <package id="System.Configuration.ConfigurationManager" version="4.5.0" targetFramework="net471" />
  <package id="System.Security.AccessControl" version="4.5.0" targetFramework="net471" />
  <package id="System.Security.Permissions" version="4.5.0" targetFramework="net471" />
  <package id="System.Security.Principal.Windows" version="4.5.0" targetFramework="net471" />
  <package id="WindowsAzure.Storage" version="9.2.0" targetFramework="net471" />
</packages>