<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>

    <add name="StorageConnectionString" connectionString="DefaultEndpointsProtocol=https;AccountName=dcolsitstorageaccountweu;AccountKey=guZvhRsDHWfpNaJTmuU6L658LE34uedF2MlOb5CTjQaoCoVjJCEPCxbh//+HTZsWeQ74mgCgVfWIool1G6XZyQ==;EndpointSuffix=core.windows.net" />
    <add name="ServiceBusConnectionString" connectionString="Endpoint=sb://dcol-sit-servicebusdas-weu.servicebus.windows.net/;SharedAccessKeyName=AuthorizationRules_DAS_Application;SharedAccessKey=D8nnwqzvUskm2Qnat7568auH2cVlrsmTdBjVmi26CgA=" />
    <add name="PaymentsConnectionString" connectionString="Data Source=DCOL-SIT-SqlServer-WEU.database.windows.net;Initial Catalog=DASPayments;User ID=DASPaymentRWUser;Password=vWZh1EyKGNamc8sV0@9L36JkqjxDCAtlwfgBM7uFIzoUn5eP2OHYXSrpdQib-4TRjnB1Fa@NOVS;Encrypt=True;" />
    <add name="LoggingConnectionString" connectionString="Server=DCOL-SIT-SqlServer-WEU.database.windows.net;Database=AppLogs;MultipleActiveResultSets=true;User Id=ApplicationLogUser;Password=TcZCHRJbjzPwBmWvkyg8o7Q3Dd@tNralqEf;Encrypt=True;" />
    <add name="DCServiceBusConnectionString" connectionString="Endpoint=sb://dcol-sit-servicebus-weu.servicebus.windows.net/;SharedAccessKeyName=AuthorizationRules_ServiceFabric;SharedAccessKey=jV7KTSm3CAFCZ5EcJ15pEPMHhiUDkf799SO/BJOx+aI=" />
    <add name="DcStorageConnectionString" connectionString="DefaultEndpointsProtocol=https;AccountName=dcolsitstorageaccountweu;AccountKey=guZvhRsDHWfpNaJTmuU6L658LE34uedF2MlOb5CTjQaoCoVjJCEPCxbh//+HTZsWeQ74mgCgVfWIool1G6XZyQ==;EndpointSuffix=core.windows.net" />
  </connectionStrings>
  <appSettings>

    <add key="TopicName" value="ilr1819submissiontopic" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SubscriptionName" value="dc_jobs" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AuditQueueName" value="dc_jobs_audit" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="JobStatusQueueName" value="dc_jobs_status" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="TimeToWait" value="00:02:00"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="TimeToWaitForUnexpected" value="00:00:10"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="TimeToPause" value="00:00:01"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DcBlobStorageContainer" value="ilr1819-files" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="apiBaseUrl" value="https://dcol-sit-jobapi-weu.sit.ase.dct.fasst.org.uk/api" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

  <!--<connectionStrings>
    <add name="StorageConnectionString" connectionString="__StorageConnectionString__" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="ServiceBusConnectionString" connectionString="__ServiceBusConnectionString__" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="DCServiceBusConnectionString" connectionString="__DCServiceBusConnectionString__" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="DcStorageConnectionString" connectionString="__DcStorageConnectionString__" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="PaymentsConnectionString" connectionString="__PaymentsConnectionString__" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="LoggingConnectionString" connectionString="__LoggingConnectionString__"   xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="TopicName" value="__TopicName__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SubscriptionName" value="__SubscriptionName__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AuditQueueName" value="__AuditQueue__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="JobStatusQueueName" value="__JobStatusQueue__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="TimeToWait" value="__TimeToWait__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="TimeToWaitForUnexpected" value="__TimeToWaitForUnexpected__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="TimeToPause" value="__TimeToPause__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DcBlobStorageContainer" value="__DcStorageContainerName__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DcStorageTestDataIlrContainerName" value="__DcStorageTestDataIlrContainerName__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="apiBaseUrl" value="__DctJobApiBaseUrl__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ApplicationInsightsInstrumentationKey" value="__ApplicationInsights_InstrumentationKey__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>-->
</configuration>