<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="StorageConnectionString" connectionString="__StorageConnectionString__" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="ServiceBusConnectionString" connectionString="__ServiceBusConnectionString__" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="DCServiceBusConnectionString" connectionString="__DCServiceBusConnectionString__" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="DcStorageConnectionString" connectionString="__DcStorageConnectionString__" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="PaymentsConnectionString" connectionString="__PaymentsConnectionString__" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="LoggingConnectionString" connectionString="__LoggingConnectionString__"   xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="TopicName" value="__TopicName__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SubscriptionName" value="__SubscriptionName__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AuditQueueName" value="__AuditQueue__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="JobStatusQueueName" value="__JobStatusQueue__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="TimeToWait" value="__TimeToWait__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="TimeToWaitForUnexpected" value="__TimeToWaitForUnexpected__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="TimeToPause" value="__TimeToPause__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DcBlobStorageContainer" value="__DcStorageContainerName__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DcStorageTestDataIlrContainerName" value="__DcStorageTestDataIlrContainerName__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="apiBaseUrl" value="__DctJobApiBaseUrl__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ValidateDcAndDasServices" value="__ValidateDcAndDasServices__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ApplicationInsightsInstrumentationKey" value="__ApplicationInsights_InstrumentationKey__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>