<?xml version="1.0" encoding="utf-8" ?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/2011/01/fabric">
  <Section Name="ConnectionStringsSection">
    <Parameter Name="LoggingConnectionString" Value=""/>
    <Parameter Name="PaymentsConnectionString" Value=""/>
    <Parameter Name="ServiceBusConnectionString" Value=""/>
  </Section>

  <Section Name="Settings">
    <Parameter Name="AccountApiApiBaseUrl" Value=""/>
    <Parameter Name="AccountApiClientId" Value=""/>
    <Parameter Name="AccountApiClientSecret" Value="" />
    <Parameter Name="AccountApiIdentifierUri" Value="" />
    <Parameter Name="AccountApiTenant" Value="" />
    <Parameter Name="BatchSize" Value="" />
    <Parameter Name="LogLevel" Value="" />
    <Parameter Name="ApplicationInsightsInstrumentationKey" Value="" />
  </Section>
</Settings>
