<?xml version="1.0" encoding="utf-8" ?>
<configuration >
  <connectionStrings>
    <add name="DasConnectionString" connectionString="" />
    <add name="DcConnectionString" connectionString="" />
  </connectionStrings>
  <appSettings>
    <add key="OutputPath" value="." />
  </appSettings>
</configuration>