<?xml version="1.0" encoding="utf-8" ?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/2011/01/fabric">
 
  <Section Name="ConnectionStringsSection">
    <Parameter Name="StorageConnectionString" Value="" />
    <Parameter Name="LoggingConnectionString" Value=""/>
    <Parameter Name="ServiceBusConnectionString" Value=""/>
    <Parameter Name="MonitoringServiceBusConnectionString" Value=""/>
  </Section>

  <Section Name="Settings">
    <Parameter Name="EndpointName" Value="sfa-das-payments-fundingsource-nonlevy"/>
    <Parameter Name="FailedMessagesQueue" Value=""/>
    <Parameter Name="LogLevel" Value="" />
    <Parameter Name="ProcessMessageSequentially" Value="" />
    <Parameter Name="ApplicationInsightsInstrumentationKey" Value=""/>
    <Parameter Name="DasNServiceBusLicenseKey" Value=""/>

    <Parameter Name="ImmediateMessageRetries" Value="" />
    <Parameter Name="DelayedMessageRetries" Value="" />
    <Parameter Name="DelayedMessageRetryDelay" Value="" />
  </Section>
</Settings>