<?xml version="1.0" encoding="utf-8"?>
<Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/2011/01/fabric">
  <Section Name="JobsStatusServiceActorServiceReplicatorConfig">
    <Parameter Name="ReplicatorEndpoint" Value="JobsStatusServiceActorServiceReplicatorEndpoint" />
    <Parameter Name="BatchAcknowledgementInterval" Value="0.005" />
  </Section>
  <Section Name="JobsStatusServiceActorServiceReplicatorSecurityConfig">
    <Parameter Name="CredentialType" Value="None" />
  </Section>
  <!-- The content will be generated during build -->
  <Section Name="ConnectionStringsSection">
    <Parameter Name="StorageConnectionString" Value="UseDevelopmentStorage=true" />
    <Parameter Name="LoggingConnectionString" Value="Server=.;Database=AppLog;User Id=SFActor; Password=SFActor;" />
    <Parameter Name="ServiceBusConnectionString" Value="" />
    <Parameter Name="PaymentsConnectionString" Value="" />
  </Section>
  <Section Name="Settings">
    <Parameter Name="EndpointName" Value="sfa-das-payments-monitoring-jobsstatus" />
    <Parameter Name="FailedMessagesQueue" Value="sfa-das-payments-monitoring-jobsstatus-errors" />
    <Parameter Name="ApplicationInsightsInstrumentationKey" Value="" />
    <Parameter Name="FailureTimeoutInSeconds" Value="150" />
    <Parameter Name="IntervalInSeconds" Value="10" />
    <Parameter Name="LogLevel" Value="" />
    <Parameter Name="ConsoleLogLevel" Value="" />
  </Section>
</Settings>